# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android-related
android/local.properties
android/app/src/main/res/values/google-services.xml
android/.gradle
android/app/build.gradle
android/gsi_insight_android.iml
*.iml

# IDE-related
.idea/
.vscode/

# Misc
.DS_Store
*.log
